*{
    padding: 0;
    background-image: url(122.jpg);
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1500px;
    height: 500px;
}
#heading{
    position: absolute;
    left: 50px;
    top: 15px;
    font-size: 250%;
    font-weight: bold;
    color: rgba(255, 9, 75, 0.53);
}
#character{
    width: 200px;
    height: 200px;
    background-image: url(LumineS.jpg);
    background-size: auto;
    top: 50px;
    left: 50px;
    position: relative;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 50px;}
    30%{top: -170px;}
    70%{top: -170px;}
    100%{top: 50px;}
}
#gif{
    width: 100px;
    height: 100px; 
    position: absolute;
    right: 35px;
    top: 35px;
}
#block{
    width: 200px;
    height: 200px;
    background-image: url(Noelle.jpg);
    background-size: cover;
    position: relative;
    top: 250px;
    left: 500px;
    animation: block 1s infinite linear;
}
#span{
    font-size: 200%;
    color: rgba(118, 0, 26, 0.632);
    font-weight: bold;
    font-style: italic;
    border-style: dashed;
    height: fit-content;
}
#scoreSpan{
    font-size: 100%;
}
@keyframes block{   
    0%{left: 1500px}
    100%{left: -20px}
}
p{
    text-align: center;
}
